name: "node-clean-arch-with-fp"
services:
  database:
    image: postgres:17.7
    ports:
      - 5442:5432
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    volumes:
      - ./.docker/database:/var/lib/postgresql/data
      - ./scripts/database:/docker-entrypoint-initdb.d
